/**
 * Place your custom CSS styles here.
 **/

 .dankAssButton {
   border: none;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   transition: width 2s;
   transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
 }

 .dankAssButton:hover {
   width: 300px
 }

 .foundIt {
   color: blue;
   text-decoration: wavy;
   font-size: 1em;
   transition: color 2s, font-size 2s;
 }

 .foundIt:hover {
   color: red;
   font-size: 2em;

 }